<html>
@{
    ViewBag.Title = "S-Squared Enterprises Personnel System";
}
<head>

    <link rel="stylesheet" href="~/app/styles.css">
</head>
<body>
    <div id="app" role="main"></div>
    <script src="~/app/app.js"></script>
    <script src="~/app/chunk-vendors.js"></script>
</body>

</html>