body {
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.card {
    padding: 0;
    /*border: solid 1px #ccc;*/
    margin-bottom: 10px;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}

    .card.curved {
        border-radius: 5px;
    }

    .card h1,
    .card h2,
    .card h3,
    .card h4,
    .card h5,
    .card h6 {
        margin: 2px 0;
    }


.card-title {
    padding: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-heading {
    padding: 5px;
}

.card-infobar {
    padding: 5px;
    background-color: #ffffee;
}

.card-body {
    padding: 10px;
}

.card-division {
    margin: 5px 0;
    border-bottom: solid 1px #ccc;
}

.card-footer {
    padding: 5px;
    border-top: solid 1px #ccc;
    margin-top: 5px;
}

.card-item.small {
    font-size: .8em;
}

.card-item.sub-item {
    padding: 5px;
    margin-top: 5px;
}

